html{
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

body{
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.main-box{
	position: absolute;
	width: 1920px;
	height: 900px;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	background-color: #00CC00;
}


table.main-frame{
position: absolute;
	width: 1920px;
	height: 900px;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	border: #FFFFFF;
	background-color: #00CC00;
	border-style: solid;
}

table.main-frame th{
	color: #FFFFFF;
	line-height: 80px;
	border-style: solid;
	white-space: nowrap;
}

table.main-frame td{
	color: #FFFFFF;
	line-height: 100px;
	border-style: solid;
	white-space: nowrap;
}


.cBrewery{
	width: 100px;
	overflow: hidden;
	font-size: 50px;
}


.cName{
	width: 100px;
	overflow: hidden;
	font-size: 120px;
}


.cValue{
	width: 100px;
	font-size: 120px;
}

.No1{
	color: #FFFFFF;
}

.No2{
	color: #FFFFFF;
}

.No3{
	color: #FFFFFF;
}

.No4{
	color: #FFFFFF;
}

#TelopArea{
	position:absolute;
	top: 900px;
	left: 0px;
	width: 1920px;
	height: 180px;
	color: #FFFFFF;
	font-size: 130px;
	background-color: #00CC00;
