html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 
        'Arial',
        YuGothic,
        'Yu Gothic',
        'Hiragino Kaku Gothic ProN',
        'ヒラギノ角ゴ ProN W3',
        'メイリオ', Meiryo,
        'ＭＳ ゴシック',
        sans-serif;
}

#master {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #00CC00;
}

table {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0%;
    left: 0%;
    color: #FFFFFF;
    border: #FFFFFF;
    border-collapse: collapse;
    background-color: #00CC00;
    border-style: solid;
}

table th {
    border-style: solid;
    font-size: 100px;
    background-color: #00CC00;
}

table td {
    text-align: center;
    color: #FFFFFF;
    background-color: #00CC00;
    font-size: 100px;
    font-weight: bold;
    border-style: solid; 
}

#telop_area{
    position: absolute;
    top: 80%;
    left: 0px;
    height: 20%;
    width:100%;
    font-size: 130px;
    font-weight: bold;
    background-color: #00CC00;
    color: #FFFFFF;
}

/* Define of Column Class */

.cNo {
}

.cBrewery {
}

.cBeername {
}

.cLocality {
}

.cStyle {
}

.cABV {
}

/* Define of Row Class */

.No1 {
}

.No2 {
}

.No3 {
}

.No4 {
}

.No5 {
}

.No6 {
}

.No7 {
}
