html {
    margin: 0px;
    padding: 0px;
    width: 1125px;
    height: 2436px;
}

body {
    margin: 0px;
    padding: 0px;
    width: 1125px;
    height: 2436px;
    font-family: 
        'Arial',
        YuGothic,
        'Yu Gothic',
        'Hiragino Kaku Gothic ProN',
        'ヒラギノ角ゴ ProN W3',
        'メイリオ', Meiryo,
        'ＭＳ ゴシック',
        sans-serif;
}

#master {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 1125px;
    height: 2436px;
    background-color: #000000;
}

form {
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 0px;
    top: 20%;
    left: 0%;
    height: 50%;
    width: 100%;
    color: #FFFFFF;
}

/* div Define */
#message_input {
    position: relative;
    width: 100%;
    color: #000000;
    top: 30px;
}

p {
    font-size: 100px;        
}

#msg_box {
    position: absolute;
    height: 10%;
    width: 90%;
    top: 30%;
    left: 5%;
    font-size: 50px;
}

#submit_btn {
    position: absolute;
    height: 20%;
    width: 60%;
    top: 55%;
    left: 20%;
    font-size: 60px;
}

