html {
    margin: 0px;
    padding: 0px;
    width: 1125px;
    height: 2436px;
}

body {
    margin: 0px;
    padding: 0px;
    width: 1125px;
    height: 2436px;
    font-family: 
        'Arial',
        YuGothic,
        'Yu Gothic',
        'Hiragino Kaku Gothic ProN',
        'ヒラギノ角ゴ ProN W3',
        'メイリオ', Meiryo,
        'ＭＳ ゴシック',
        sans-serif;
}

#master {
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

p {
    color: #FFFFFF;        
}

input {
    position: relative;
    width: 80%;
    height: 100px;
    font-size: 50px;
}

select {
    position: relative;
    width: 30%;
    height: 70px;
    font-size: 50px;
    align: center
}

/* Table Define */

.fValue {
    width: 100px;
    margin: 5px;
    padding: 0px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 70px;
}

/* div Define */
#no {
    position: absolute;
    color: #FFFFFF;
    width:100%;
    height: 20%;
    top: 5%;
}

#brewery {
    position: absolute;
    color: #FFFFFF;
    width:100%;
    height: 20%;
    top: 20%;
}

#beername {
    position: absolute;
    color: #FFFFFF;
    width:100%;
    height: 20%;
    top: 40%;
}

#value {
    position: absolute;
    color: #FFFFFF;
    width:100%;
    height: 20%;
    top: 60%;
}

#submit_btn {
    position: absolute;
    color: #000000;
    width: 50%;
    height: 10%;
    top: 80%;
    left: 25%;
    font-size: 50px;
}
