html {
    margin: 0px;
    padding: 0px;
    width: 1125px;
    height: 2436px;
}

body {
    margin: 0px;
    padding: 0px;
    width: 1125px;
    height: 2436px;
    font-family: 
        'Arial',
        YuGothic,
        'Yu Gothic',
        'Hiragino Kaku Gothic ProN',
        'ヒラギノ角ゴ ProN W3',
        'メイリオ', Meiryo,
        'ＭＳ ゴシック',
        sans-serif;
}

#master {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 1125px;
    height: 2436px;
    color: #FFFFFF;
    background-color: #000000;
}

/* Define of Column Class */

.cNo {
}

.cBrewery {
}

.cBeername {
}

.cLocality {
}

.cStyle {
}

.cABV {
}

/* Define of Row Class */

.No1 {
}

.No2 {
}

.No3 {
}

.No4 {
}

.No5 {
}

.No6 {
}

.No7 {
}
